@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);.intro{background-color:#09455d}.intro__codementor-logo{position:absolute;top:10px;left:10px;opacity:0.5;z-index:1;transition:opacity 0.5s}
body{
	background-color:#ececec;
}
h1{
	font-family:times new roman;
	margin-top:20px;
	font-weight:bold;
	padding:5px;
	text-align:center;
}
p{
	font-family:times new roman;
	font-size:20px;
	font-weight:bold;
	text-align:left;
}
.home{
	font-family:times new roman;
	text-align:center;
}
.imhm{
	width:300px;
	margin-top:75px;
}
.mq{
	width:500px;
	border-style:solid;
	border-width:1px;
	padding:10px;
	margin:10px;
	font-family:times new roman;
	background-color:#dcf8c6;
	margin-top:40px;
}
.s1{
	margin:9px;
	float:left;
}
.s2{
	width:150px;
	margin:8px;
	border:1px solid;
	float:right;
	text-align:center;
	background-color:#f8f8f8;
}
.sub{
	font-size:20px;
	font-family:times new roman;
	font-weight:bold;
	background-color:#4CAF50;
	color:white;
}
#googleMap{
	height:620px;
	width:1080px;
	margin:15px;
	margin-left: auto;
	margin-right: auto;
}
